[Unit]
Description=Docker Compose Application
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/var/app
ExecStart=/var/app/run.sh start
ExecStop=/var/app/run.sh stop

[Install]
WantedBy=multi-user.target
