[Unit]
Description=Docker Compose Deployment
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/var/app
ExecStartPre=-/var/app/run.sh pull
ExecStart=/var/app/run.sh up
ExecStop=-/var/app/run.sh stop
ExecStopPost=/var/app/run.sh down

[Install]
WantedBy=multi-user.target
