[Unit]
Description=Restart app on config changes

[Service]
Type=simple
ExecStartPre=-/var/app/compose.sh pull
ExecStart=/var/app/compose.sh restart

[Install]
WantedBy=multi-user.target
